/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #e8e7e7;
  font-family: arial;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

li {
  margin: 0.65em 0;
}

h3 {
  margin-top: 0;
}

.chatroom {
  background: #fff;
  width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 15px;
  overflow: hidden;
}

.header {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063fa;
  border-bottom: solid 2px #d4caff;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
}
.header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
}
.header .details {
  width: 170px;
}

.details {
  margin-top: 0;
  font-weight: normal;
}

.details td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 0.7em;
}

.details td:last-child {
  text-align: left;
}

.profiles {
  height: 250px;
  overflow-y: scroll;
  border-bottom: solid 2px #549d59;
}

.profile {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #eeeeee;
  letter-spacing: 2px;
  cursor: pointer;
}

.close-detail {
  margin-right: 10px;
  color: #e57373;
  cursor: pointer;
  float: right;
}

.profile-name {
  flex-grow: 1;
  padding: 20px 10px 10px 10px;
}

.messages-form form {
  margin-top: 25px;
  display: flex;
}

.messages-form input[type="text"] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #5b45b9;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #c7bcf8;
  letter-spacing: 2px;
  outline: none;
}

.messages-form input[type="text"]::-webkit-input-placeholder {
  color: #c7bcf8;
  letter-spacing: 2px;
}

.messages-form input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.messages-form input[type="submit"] {
  display: block;
  font-size: 0.6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #44338d;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.messages-form input[type="submit"]:hover {
  background: #4b71b5;
  color: #fafafa;
  cursor: pointer;
}

.selected-profile {
  font-size: 1.1em;
  padding: 1.65em 0 1.4em 1.65em;
  background-color: rgb(133, 104, 250);
}
.selected-profile p {
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
}

.selected-profile ul {
  padding: 0;
  text-transform: initial;
}

.selected-profile ul span {
  color: rgba(255, 255, 255, 0.43);
  display: inline-block;
  padding-right: 0.6em;
  width: 3.8em;
}

.messages {
  height: 150px;
  width: 80%;
  overflow-y: scroll;
  background: white;
  margin: 0 auto;
}
